<style>
    a:hover{
        text-decoration: none;
    }
</style>

<section class="content">
    <div class="row">
        <div class="col-12 col-mgr">
            <div class="box">
                <div class="box-body">
                    <ul class="nav nav-tabs customtab2" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" href="/users/{{.UserID}}/courses" style="
                background-color: #fff;
                color: #0052cc;
                border-bottom: 2px solid #0052cc;">
                                <span class="hidden-sm-up"><i class="ion-home"></i></span>
                                <span class="hidden-xs-down" data-i18n="courses"></span>
                            </a>
                        </li>
                        <li class="nav-item"> <a class="nav-link" href="/users/{{.UserID}}/learning_process"><span class="hidden-sm-up"><i class="ion-person"></i></span> <span class="hidden-xs-down" data-i18n="learning_process"></span></a> </li>
                    </ul>
                    <input type="hidden" value="{{.UserID}}" name="user_id">
                    <div class="box-body">

                        <div class="row" id="courses">


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="/main/js/web/users/student_detail.js"></script>
