<div id="feedback-body" class="">
  <button id="feedback-btn" class="waves-effect waves-circle btn btn-circle btn-lg btn-success l-h-70">
    <i class="fa fa-envelope-open-o" style="font-size: 24px; position: relative; bottom: 10px"></i>
  </button>
  <div class="feedback">
    <div class="feedback-header p-15 d-flex justify-content-between align-items-center">
      <div class="text-center flex-grow-1">
        <div class="text-dark font-size-18" data-i18n="feedback">
        </div>
      </div>
      <div class="feedback-toggle">
        <button id="feedback-toggle" class="waves-effect waves-circle btn btn-circle btn-danger-light h-40 w-40 rounded-circle l-h-45" type="button">
          <span class="icon-Close font-size-22" style="position: relative; left: -5px; bottom: 6px"><span class="path1"></span><span class="path2"></span></span>
        </button>
      </div>
    </div>
    <div class="feedback-input">
      <form>
        <input type="text" id="feedback-input" placeholder="Send a message...">
        <button type="submit" class="feedback-submit" id="feedback-submit">
          <span class="icon-Send font-size-22"></span>
        </button>
      </form>
    </div>
  </div>
</div>

<script src="/main/js/web/feedback/send-feedback.js"></script>