<section class="content">
    <div class="row">
        <div class="col-12 col-mgr">
            <div class="box" style="padding-bottom: 30px;
                ">
                <div class="box-header" style="padding-left: 30px">
                    <ul class="nav nav-tabs customtab2" role="tablist" style="width: 100%">
                        <li class="nav-item">
                            <a class="nav-link" href="/learning-process">
                                <span class="hidden-sm-up"><i class="ion-home"></i></span>
                                <span class="hidden-xs-down" data-i18n="learning_process"></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/all-cert" style="
                                background-color: #fff;
                                color: #0052cc;
                                border-bottom: 2px solid #0052cc;">
                                <span class="hidden-sm-up"><i class="ion-person"></i></span>
                                <span class="hidden-xs-down" data-i18n="my-cert"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="box-body">
                    <div class="all-cert row">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="/main/js/web/certification/all-cert.js"></script>
