<style>

    .lb-question{
        display: flex;
        align-items: center;
        font-size: 16px;
        line-height: 1.5;
    }

    .question-container{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .lb-answer-inline{
        width: auto;
        margin: 0;
        border: none !important;
        border-bottom: 1px solid !important;
    }

</style>
<section class="content">
    <div class="row">
        <div class="col-3 col-mgr"></div>
        <div class="col-6 col-mgr">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-lg-8">
                            <h3 class="page-title" data-i18n="quiz"></h3>
                        </div>
                        <div class="col-lg-4">
                        </div>
                    </div>
                    <hr>
                    <div class="scroll-box">
                        <div id="questions-container">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="/main/js/web/topics/detail.js"></script>